<div class="container-fluid">
	<div class="col-xs-12">
		<div class="alert alert-info">
			Login To Your Account
		</div>
		<div class="well">
			<form class="form" ng-submit="login()">
				<div class="form-group">
					<input class="form-control" type="text" ng-model="credentials.email" placeholder="email">
				</div>
				<div class="form-group">
					<input class="form-control" type="password" ng-model="credentials.password" placeholder="password">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			</form>
		</div>
	</div>
</div>
